body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
}

.unique-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.brand-logo img {
    height: 50px;
    /* or the height you desire */
    width: auto;
    /* this will maintain the aspect ratio */
}

.brand-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    padding: 0 15px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #f7f7f7;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
}

.menu-line {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .navbar-links {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background-color: #333;
        width: 20%;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .navbar-links.change {
        transform: translateX(0);
    }

    .navbar-links li {
        padding: 15px 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .menu-icon {
        display: flex;
    }
}

.change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.change .navbar-links {
    display: flex;
}

@media screen and (max-width: 480px) {
    .unique-navbar {
        padding: 10px 15px;
        /* Adjust padding for smaller screens */
    }

    .brand-logo a {
        font-size: 1.2em;
        /* Adjust font size for smaller screens */
    }

    .navbar-links {
        width: 25%;
        /* Adjust width for smaller screens */
        transform: translateX(100%);
    }

    .navbar-links li {
        padding: 12px 5px;
        /* Adjust padding for list items */
    }

    .navbar-links a {
        font-size: 0.9em;
        /* Adjust font size for links */
    }

    .menu-icon {
        display: flex;
    }

    .menu-line {
        width: 20px;
        /* Adjust width of hamburger lines */
    }
}

.change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.change .navbar-links {
    transform: translateX(0);
}