@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
    background-color: #f4cbcb;
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: aquamarine;
    align-items: flex-start;
}

.column {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f4cbcb;
}

.row {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f4cbcb;
}

.column img {
    max-width: 100%;
    height: auto;
}

.column .text-content,
.column .image-content,
.row .text-content {
    flex: 1;
}

.column .text-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    background: green;
    padding: 10px 10px;
}

.column .image-content {
    background: blue;
    padding: 10px;
}

.item {
    flex: 1;
    padding: 10px;
    background-color: lightblue;
    border: 1px solid blue;
}

img {
    height: 250px;
    width: 250px;
}

p {
    font-size: 20px;
}

#img1 {
    filter: blur(5px);
}

#img2 {
    filter: hue-rotate(150deg);
}

#img3 {
    filter: brightness(150%);
}

/* ________________ MEDIA SCREEN ________________________ */

@media screen and (min-width: 768px) {

    .column,
    .row {
        flex-basis: calc(50% - 20px);
    }
}

@media screen and (max-width: 767px) {

    .column,
    .row {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 767px) {
    .row {
        order: 2;
    }

    .column {
        order: 1;
        justify-content: center;
    }

    .container {
        justify-content: center;
    }
}