@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
@import "https://fonts.googleapis.com/css?family=Montserrat";


/* References: */
/* <h1>Certiblock<span id="tm-symbol">™</span> */


/* Color Variables */
:root {
    --color-primary-blue: #003366;
    --color-secondary-teal: #29ABE2;
    --color-secondary-gray: #f7f8f9;
    --color-secondary-silver: #b2b1b1;
    --color-accent-green: #00FF00;
    --color-accent-gold: #FFD700;
    --color-navbar-dark: #24262b;
    --color-bright-red: #e91e63;
    --navbar-height: 78.19px;
    --color-error: #e91e63;
    --color-success: #FFD700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 17px;
    background-color: var(--color-secondary-gray);
    line-height: 1.6;
    height: 100vh;
}

body {
    padding-top: var(--navbar-height);
}

/* Global */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
}

/* Global */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* Global */
.column {
    flex: 1;
    padding-right: 15px;
    padding-left: 15px;
}

.sales-person {
    display: flex;
    height: 50vh;
    width: 100vw;
    background-image: linear-gradient(to right, rgba(0, 51, 102, 0.5) 50%, rgba(41, 71, 226, 0.5) 100%), url("../images/contact-salesman.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.sales-person .row {
    padding: 2.5vw;
    align-items: center;
}


.sales-person .row h1 {
    font-size: 3vw;
    font-weight: bold;
    color: var(--color-secondary-gray);
    text-align: center;
}

/* Sales Responsive Styles */
@media (max-width: 768px) {
    .sales-person {
        height: 30vh;
        width: 100vw;
    }

    .sales-person .row {
        padding: 10vw;
        height: 300vh;
        width: 100vw;
    }

    .sales-person .row h1 {
        font-size: 4vw;
    }
}

@media (max-width: 480px) {
    .sales-person .row h1 {
        font-size: 6vw;
    }

    .sales-person {
        height: 200px;
        width: 100vw;
    }
}

/* __________________________________________________________ */
/* Contact Us Section */

.contact-form-section {
    margin: 0 auto;
    padding: 100px 40px;
    background-color: var(--color-secondary-gray);
}

.contact-form-section .row {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: fit-content;
}

.column.right {
    background-color: var(--color-secondary-gray);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contactForm {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #777272;
    border-radius: 4px;
}

.form-group textarea {
    height: 100px;
    resize: vertical;
}

#contactForm button {
    max-width: 50%;
    align-self: center;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: var(--color-accent-gold);
    color: var(--color-navbar-dark);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8em;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contactForm button:hover {
    background-color: var(--color-primary-blue);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .contact-form-section .row {
        flex-direction: column;
    }

    #contactForm {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .column.left h1 {
        font-size: 1.7em;
    }
}

/* __________________________________________________________ */
/* Terms section */

.terms-container {
    text-align: left;
    background-size: cover;
    margin-top: 87px;
}

#terms {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 80px;
}


#terms h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

#terms h2 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#terms h3 {
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#terms ul {
    padding-left: 40px;
}

#terms a {
    /* color: var(--color-secondary-teal); */
    text-decoration: none;
}

#terms a:hover {
    text-decoration: underline;
}

/* Style for location icon */
.fa-location-dot {
    font-size: 24px;
    transition: all 0.5s ease;
}

.fa-location-dot:hover {
    color: #0056b3;
    transform: scale(1.9);
}


/* Terms Responsive Styles */
@media screen and (max-width: 768px) {
    #terms {
        padding: 40px;
    }
}

@media screen and (max-width: 480px) {
    .terms-container {
        padding: 20px;
    }

    #terms {
        padding: 10px;
    }

    #terms h2 {
        text-align: center;
    }

    #terms p {
        text-align: justify;
    }
}

/* __________________________________________________________ */

/* Particle Container Styles */
.particle-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;

}

/* Hero Section Styles */
#hero-home {
    position: absolute;
    padding: 100px 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary-silver);
    text-align: center;
    z-index: 1;
    background-color: transparent;
}

/* Hero Text Styles */
#hero-text {
    justify-content: center;
    text-align: center;
    flex: 1;
    padding: 50px;
    color: var(--color-secondary-gray);
}

#hero-text h1 {
    font-size: 2.5em;
}

#hero-text p {
    font-size: 1.5em;
    margin-top: 20px;
}

/* Hero Responsive Styles */
@media screen and (max-width: 768px) {
    #hero-home h1 {
        font-size: 2em;
    }

    #hero-home p,
    nav a {
        font-size: 1em;
    }
}

@media screen and (max-width: 480px) {
    #hero-home {
        padding: 100px 0;
    }

    #hero-home h1 {
        font-size: 1.5em;
    }

    #hero-home p {
        font-size: 0.9em;
    }
}

/* __________________________________________________________ */
/* Separator Style */

.separator {
    padding: 40px;
    background-color: #142335;
    color: #fff;
    text-align: center;
    color: var(--color-secondary-gray);
    font-size: 2.8vw;
}

.shadow-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#shadows {
    position: relative;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #ced0d3;
    color: var(--color-secondary-gray);
    letter-spacing: -0.05em;
    user-select: none;
    text-transform: uppercase;
    transition: all 0.5s ease-out;
}

#shadows:hover {
    text-shadow: -16px 6px 15px #ced0d3;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .separator {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .separator {
        display: none;
    }
}

/* __________________________________________________________ */
/* Wrapper and Circle Styles */
.wrapper {
    top: 0;
    left: 0;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #142335;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

#circleWrapper {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
}

/* Reload Animation Elements */
#reload1,
#reload2,
#reload3,
#reload4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

#reload1 {
    width: 100%;
    height: 100%;
}

#reload2 {
    width: 78%;
    height: 78%;
}

#reload3 {
    width: 95%;
    height: 95%;
}

#reload4 {
    width: 93%;
    height: 93%;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .wrapper {
        background-size: 30%;
    }

    #reload1 {
        width: 80vw;
        height: 80vw;
    }

    #reload2 {
        width: 70vw;
        height: 70vw;
    }

    #reload3 {
        width: 60vw;
        height: 60vw;
    }

    #reload4 {
        width: 70vw;
        height: 70vw;
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        background-size: 50%;
    }

    #reload1 {
        width: 100%;
        height: 100%;
    }

    #reload2 {
        width: 95%;
        height: 95%;
    }

    #reload3 {
        width: 80%;
        height: 80%;
    }

    #reload4 {
        width: 95%;
        height: 95%;
    }
}

/* __________________________________________________________ */
/* Features Styles */

.features-container {
    padding: 100px 0;
    text-align: center;
    background-size: cover;
}

#center-row {
    text-align: center;
    padding: 40px;
}

#feature-div {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 10px;
}

#feature {
    flex: 1;
    padding: 50px;
    text-align: center;
    background-size: cover;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#feature img {
    max-width: 100px;
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}


#feature h2,
#feature h3,
#features-container h2 {
    margin: 50px;
    text-align: center;
}


/* Features Section Responsive Styles */
@media screen and (max-width: 768px) {
    .features-container {
        padding: 15%;
    }

    #feature-div {
        gap: 10px;
        flex-direction: column;
    }

    #feature {
        padding: 30px;
        margin: 5px;
        flex-basis: 100%;
    }

    #feature h2,
    #feature h3,
    #features-container h2 {
        margin: 20px;
    }
}

@media screen and (max-width: 480px) {
    .features-container {
        padding: 20px;
    }

    #center-row {
        text-align: center;
        padding: 40px;
    }

    #feature {
        padding: 20px;
        margin: 5px;
    }

    #feature h2,
    #feature h3,
    #features-container h2 {
        margin: 15px;
    }
}

/* __________________________________________________________ */
/* Contact Button Styles */
.contact-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-accent-gold);
    color: var(--color-primary-blue);
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.contact-button:hover {
    background-color: var(--color-accent-green);
    transform: scale(1.05);
}

.email-contact,
.phone-contact,
.address-contact {
    color: inherit;
    text-decoration: none;
}


.hide-phone-number {
    display: inline-block;
    font-family: monospace, monospace;
    position: relative;
    cursor: pointer;
}

.hide-phone-number::after {
    content: "XXXX-XXX";
    background: var(--color-secondary-gray);
    position: absolute;
    right: 0;
    left: 34px;
    /* Adjust as needed to cover the right part of the number */
}

.hide-phone-number.revealed::after {
    content: "";

}

/* __________________________________________________________ */
/* NAVBAR SECTION START */

.unique-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(36, 38, 43, 0.9);
    padding-right: 10px;
    color: white;
    box-sizing: border-box;
}

.brand-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.brand-logo img {
    width: 60px;
    height: 60px;
    margin: 5px 10px 5px 10px;
}

.brand-link {
    color: inherit;
    text-decoration: none;
}

.brand-link:hover {
    text-decoration: none;
}


#tm-symbol {
    font-size: small;
    vertical-align: super;
}

.navbar-links {
    list-style: none;
    display: flex;
    box-sizing: border-box;
}

.navbar-links li {
    padding: 0 15px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: var(--color-accent-gold);
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
}

.menu-line {
    background-color: white;
    height: 3px;
    width: 35px;
    margin: 2.6px 0;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .navbar-links {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background-color: rgba(36, 38, 43, 0.9);
        width: 20%;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 999;
        padding-right: 10px;
    }

    .navbar-links.change {
        transform: translateX(0);
        padding-top: 60px;
    }

    .navbar-links li {
        padding: 15px 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .menu-icon {
        display: flex;
    }
}

.change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.change .navbar-links {
    display: flex;
}

@media screen and (max-width: 480px) {
    .brand-logo a {
        font-size: 1em;
        /* Adjust font size for smaller screens */
    }

    .navbar-links {
        width: 30%;
        padding: 40px 20px 0px 10px;
        transform: translateX(100%);
    }

    .navbar-links li {
        padding: 12px 5px;
        /* Adjust padding for list items */
    }

    .navbar-links a {
        font-size: 0.9em;
        /* Adjust font size for links */
    }

    .menu-icon {
        display: flex;
    }

    .menu-line {
        width: 20px;
        /* Adjust width of hamburger lines */
    }
}

.change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.change .navbar-links {
    transform: translateX(0);
}

/* NAVBAR SECTION END */

/* __________________________________________________________ */

/* FOOTER SECTION START*/

.footer {
    background-color: var(--color-navbar-dark);
    padding: 30px 0;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
    padding-bottom: 20px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col ul {
    list-style: none;
}



.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: var(--color-secondary-gray);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--color-accent-gold);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    padding-left: 0;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--color-accent-gold);
    text-decoration: none;
    font-weight: 300;
    color: var(--color-secondary-gray);
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--color-accent-gold);
    padding-left: 8px;
}

.footer-col ul {
    margin-left: 0;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: transparent;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    border: var(--color-accent-gold) solid 1px;
    color: var(--color-accent-gold);
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: var(--color-primary-blue);
    background-color: var(--color-accent-gold);
    transform: scale(1.4);
}

.copyright-footer {
    text-align: center;
    padding-top: 30px;
    background-color: var(--color-footer-dark);
    color: var(--color-secondary-gray);
    font-size: 1em;
    border-top: 1px solid #444;
}


/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/* FOOTER SECTION END*/
/* __________________________________________________________ */
/* Miscelaneous */
.nowrap {
    white-space: nowrap;
}

.form-group .subtitle {
    display: block;
    margin-bottom: 4px;
    font-size: 0.8em;
    color: #666;
}

/* __________________________________________________________ */
/* Products Page Section */
.top-container .container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}

.top-container h1 {
    font-size: 3em;
    color: var(--color-primary-blue);
    margin-bottom: 20px;
}

.top-container .row {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-container .column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-container .column img {
    width: 300px;
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

.top-container .column img:hover {
    transform: scale(1.4);
}

/* Media Query for Products Page Section */
@media (max-width: 280px) {
    .top-container .row {
        flex-direction: column;
        /* Stack the columns vertically */
    }

    .top-container .column img {
        width: 100%;
        /* Adjust the width as necessary */
    }
}


.certiblock-schools,
.certiblock-organisations,
.certiblock-individuals {
    display: none;
}

.certiblock-schools .container {
    border: var(--color-accent-gold) 2px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    justify-content: space-between;
    flex-direction: column;
    margin: 0px 30px 30px 30px;
    padding: 20px;
}

.certiblock-organisations .container {
    border: var(--color-accent-gold) 2px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0px 30px 30px 30px;
    padding: 20px;
}

.certiblock-individuals .container {
    border: var(--color-accent-gold) 2px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0px 30px 30px 30px;
    padding: 20px;
}

.certiblock-organisations .row {
    align-items: center;
    flex-direction: column;
}

.certiblock-organisations .text-content {
    padding: auto;
    width: auto;
}

.certiblock-schools h2,
h3 {
    color: var(--color-primary-blue);
    text-align: left;
}

.certiblock-organisations h2,
h3 {
    color: var(--color-primary-blue);
    text-align: left;
}

.certiblock-schools h1 {
    text-align: left;
}

.school-categories article {
    margin: 15px 0;
    padding: 15px;
    background: var(--color-secondary-gray);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.school-categories article h3 {
    margin-bottom: 10px;
}

.certiblock-schools article {
    flex-basis: 30%;
    margin: 10px;
    padding: 20px;
    background: var(--color-secondary-gray);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.certiblock-organisations article {
    flex-basis: 30%;
    margin: 10px;
    padding: 20px;
    background: var(--color-secondary-gray);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.certiblock-individuals article {
    flex-basis: 30%;
    margin: 10px;
    padding: 20px;
    background: var(--color-secondary-gray);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.certiblock-schools .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    flex: 1;
}

.certiblock-schools .image-content {
    padding: 10px;
    max-width: 500px;
    height: 300px;
    width: 300px;
    gap: 40px;
}

.certiblock-schools .image-content {
    display: flex;
    justify-content: flex-end;
}

.certiblock-schools img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


.certiblock-schools ul {
    list-style-type: disc;
    margin-left: 40px;
}

@media (max-width: 768px) {
    .certiblock-organisations .container h2 {
        padding: 20px;
    }
}


@media (max-width: 480px) {
    .certiblock-organisations .container h2 {
        padding-left: 20px;
    }
}

/* Options Container */
.options-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.option-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 30px;
    background-color: var(--color-secondary-gray);
    color: var(--color-primary-blue);
    border: 2px solid var(--color-primary-blue);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.option-link:hover {
    background-color: var(--color-primary-blue);
    color: var(--color-accent-gold);
}

.visible {
    display: block;
}

.connection-line {
    position: absolute;
    z-index: 1;
}

@media (max-width: 480px) {
    .connection-line {
        display: none;
    }
}

/* __________________________________________________________ */
/* Login Page Section */

.toop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    padding-bottom: 50px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
}

.login-container,
.form__input,
.form__button {
    font: 500 1rem 'Roboto', sans-serif;
}

.form--hidden {
    display: none;
}

.form>*:first-child {
    margin-top: 0;
}

.form>*:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary-blue);
}

.form__button:hover {
    background: var(--color-navbar-dark);
    color: var(--color-accent-gold);
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__text a {
    padding-top: 20px;
}

.form__link {
    color: var(--color-secondary-silver);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .login-container {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .login-container {
        padding: 10px;
    }
}


/* Shared styles for both login and signup forms */
.form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    transition: opacity 0.3s ease;
}

.form__title {
    text-align: center;
}

.form__message {
    text-align: center;
    color: red;
}

.form__input-group {
    margin-bottom: 10px;
}

.form__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form__button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form__button:hover {
    background-color: #0056b3;
}

.form__text {
    text-align: center;
}

.form__link {
    color: #007bff;
    text-decoration: none;
}

/* Additional style for hiding forms initially */
.form--hidden {
    opacity: 0;
    display: none;
}