<!-- Navbar section -->
<nav class="unique-navbar">
  <div class="brand-logo">
    <a href="home.html"
      ><img src="static/images/logo_yellow.png" alt="Certiblock Logo"
    /></a>
    <h1>
      <a href="home.html" class="brand-link">CΞRTIBLOCK</a
      ><span id="tm-symbol">™</span>
    </h1>
  </div>

  <div class="menu-icon" onclick="toggleMenu()">
    <div class="menu-line line1"></div>
    <div class="menu-line line2"></div>
    <div class="menu-line line3"></div>
  </div>
  <ul class="navbar-links">
    <li><a href="home.html">HOME</a></li>
    <li><a href="products.html">PRODUCTS</a></li>
    <li><a href="services.html">SERVICES</a></li>
    <li><a href="about_us.html">ABOUT US</a></li>
    <li><a href="contact_us.html">CONTACT</a></li>
  </ul>
</nav>
